{{#users}}
	<tr class="table-{{type}} table-hover" data-barcode="{{barcode}}" data-user="{{id}}">
		<td data-id="{{id}}">{{id}}</td>
		<td>{{barcode}}</td>
		<td>{{first_name}}</td>
		<td>{{last_name}}</td>
		<td><a href="mailto:{{email}}">{{email}}</a></td>
		<td><img src="{{img_url}}" alt="Thumbnail loading failed" width="100px"></td>
		<td>
			<button class="btn btn-block btn-{{type}}" data-type="{{type}}">{{button}}</button>
		</td>
	</tr>
{{/users}}
{{^users}}
	<tr>
		<td colspan="7" class="text-center">😢 😢 😢 😢 😢 😢 😢 😢 😢 😢 😢 😢</td>
	</tr>
{{/users}}