nbproject/
.DS_STORE
cache.properties
.idea/
*.phar
*.bak



config/env.php

#Ant configuration files
config/ant.prod.properties
config/ant.staging.properties
config/ant.test.properties

#Ant configuration files
!ant.*
ant.*
!ant.example.*

#Project dependencies
vendor/
node_modules/

#Complete build folder
build/

#User data
/docs/setup.sql
/docs/users.zip
/docs/pupils.csv

/resources/csv/*

#Complete tmp/ folder except
#.htaccess file,
!tmp/
tmp/*
!tmp/.htaccess
#cache/ folder with empty file
!tmp/cache/
tmp/cache/*
!tmp/cache/empty

#Asset cache
!public/assets/
public/assets/*
!public/assets/.htaccess

!public/tmp/
public/tmp/*
!public/tmp/.htaccess

!public/img/users/
public/img/users/*
!public/img/users/.htaccess